<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Dice.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="item-sidebar" id="linkToLearning">Learning</div>
        <div class="item-sidebar" id="linkToPointGame">PointGame</div>
        <div class="item-sidebar selected" id="linkToDice">Dice</div>
        <div class="btn-logout" id="btnLogout">Logout</div>
      </div>

      <div class="main">
        <div class="box-table">
          <table>
            <thead>
              <tr>
                <th>diceID</th>
                <th>pointGameIDs</th>
              </tr>
            </thead>
            <tbody id="tableBodyId">
            </tbody>
          </table>

          <div class="table-buttons">
            <button id="addButton" class="btn-add">생성</button>
          </div>
        </div>
      </div>
    </div>

    <div class="dialog" id="dialog">
      <div class="dialog-content" id="dialogContent">
        <div class="buttons">
          <button id="deleteItemBtn" class="btn-delete">삭제</button>
          <button id="updateItemBtn" class="btn-update">수정</button>
          <button id="createItemBtn" class="btn-create">생성</button>
          <button id="cancelItemBtn" class="btn-cancel">취소</button>
        </div>

        <div class="content">
          <div class="box-input">
            <div class="box-label">diceID</div>
            <div class="input">
              <input type="text" placeholder="ID를 입력해주세요" id="input_diceID" />
            </div>
          </div>

          <div class="box-input">
            <div class="box-label">pointGameIDs</div>
            <div class="input">
              <input type="text" placeholder="pointGameIDs를 입력해주세요" id="input_pointGameIDs" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <py-script>
      from js import document, location, alert, localStorage, confirm
      from pyodide import ffi
      from pyodide.http import pyfetch
      import asyncio
      import json
      import ast

      items = []
      selectedItem = None

      def addTableFields (trEl, item) : 
        for itemKey in ['diceID', 'pointGameIDs'] :
          tdEl = document.createElement('td')
          if itemKey in item :
            tdEl.appendChild(document.createTextNode(item[itemKey]))
          trEl.appendChild(tdEl)

      def addItem (item) :
        trEl = document.createElement('tr')
        addTableFields(trEl, item)
        trEl.setAttribute('id', 'dice_tr_{}'.format(item['diceID']))
        trEl.addEventListener('click', ffi.create_proxy(onClickItem))
        document.getElementById('tableBodyId').append(trEl)

      def getInput () :
        input = {}
        for itemKey in ['diceID'] :
          input[itemKey] = Element('input_{}'.format(itemKey)).element.value
        pointGameIDs = Element('input_pointGameIDs').element.value
        if pointGameIDs != "" :
          input['pointGameIDs'] = ast.literal_eval(pointGameIDs)
        return input

      async def onClickCreateBtn (args) :
        global items
        input = getInput()

        response = await pyfetch(url="http://127.0.0.1:5001/admin_DiceData/add", method="POST", body=json.dumps(input))
        response_dict = await response.json()
        if response_dict['success'] == False :
          alert('생성에 실패했습니다')
        else :
          item = response_dict['data']
          items = list(items)
          items.append(item)
          addItem(item)
          closeDialog(None)

      async def onClickUpdateBtn (args) :
        global items, selectedItem
        items = list(items)
        input = getInput()
        findIndex = items.index(selectedItem)

        response = await pyfetch(url="http://127.0.0.1:5001/admin_DiceData/edit", method="POST", body=json.dumps(input))
        response_dict = await response.json()
        if response_dict['success'] == False :
          alert('수정에 실패했습니다')
        else :
          item = response_dict['data']
          items[findIndex] = item
          el = document.getElementById('dice_tr_{}'.format(item['diceID']));
          el.innerHTML = ""
          addTableFields(el, item)
          closeDialog(None)

      async def onClickDeleteBtn (args) :
        global selectedItem, items
        result = confirm('정말 삭제하시겠습니까?')
        if result == True :
          response = await pyfetch(url="http://127.0.0.1:5001/admin_DiceData/delete", method="POST", body=json.dumps({ 'diceID': selectedItem['diceID'] }))
          response_dict = await response.json()
          if response_dict['success'] == False :
            alert('삭제에 실패했습니다')
          else :
            items = list(items)
            items.remove(selectedItem)
            document.getElementById('dice_tr_{}'.format(selectedItem['diceID'])).remove();
            closeDialog(None)

      def closeDialog (args) :
        dialog = document.getElementById('dialog')
        dialog.style.display = 'none'

      def showDialog () :
        dialog = document.getElementById('dialog')
        dialog.style.display = 'flex'

      def showDetailView () :
        global selectedItem
        for itemKey in ['diceID', 'pointGameIDs'] :
          Element('input_{}'.format(itemKey)).element.value = selectedItem[itemKey] if itemKey in selectedItem else ''
        deleteItemBtn = document.getElementById('deleteItemBtn')
        updateItemBtn = document.getElementById('updateItemBtn')
        createItemBtn = document.getElementById('createItemBtn')

        createItemBtn.style.display = 'none'
        deleteItemBtn.style.display = updateItemBtn.style.display = 'inline-block'

        showDialog()

      def showCreateView (args) :
        for itemKey in ['diceID', 'pointGameIDs'] :
          Element('input_{}'.format(itemKey)).element.value = ''

        deleteItemBtn = document.getElementById('deleteItemBtn')
        updateItemBtn = document.getElementById('updateItemBtn')
        createItemBtn = document.getElementById('createItemBtn')

        deleteItemBtn.style.display = updateItemBtn.style.display = 'none'
        createItemBtn.style.display = 'inline-block'
        showDialog()

      def onClickItem (args) :
        global items, selectedItem
        diceID = ''
        for i in range(len(args.path)) :
          if 'dice_tr_' in args.path[i].id :
            diceID = args.path[i].id[len('dice_tr_') : ]
            break
        for item in items : 
          if diceID == item['diceID'] :
            selectedItem = item
            showDetailView()
            break

      async def getData () :
        global items

        response = await pyfetch(url="http://127.0.0.1:5001/admin_DiceData", method="GET")
        response_dict = await response.json()
        items = response_dict['data'].values()

      def initTables () :
        global items
        for item in items :
          addItem(item)

      async def initialize () :
        await getData()
        initTables()

      def goToLearning (args) :
        location.href = '/views/Admin/Learning/Learning.html'
      
      def goToPointGame (args) :
        location.href = '/views/Admin/PointGame/PointGame.html'
      
      def doLogout (args) :
        location.href = '/views/Main/Main.html'

      document.getElementById('cancelItemBtn').addEventListener('click', ffi.create_proxy(closeDialog))
      document.getElementById('deleteItemBtn').addEventListener('click', ffi.create_proxy(onClickDeleteBtn))
      document.getElementById('updateItemBtn').addEventListener('click', ffi.create_proxy(onClickUpdateBtn))
      document.getElementById('createItemBtn').addEventListener('click', ffi.create_proxy(onClickCreateBtn))
      document.getElementById('addButton').addEventListener('click', ffi.create_proxy(showCreateView))
      document.getElementById('linkToLearning').addEventListener('click', ffi.create_proxy(goToLearning))
      document.getElementById('linkToPointGame').addEventListener('click', ffi.create_proxy(goToPointGame))
      document.getElementById('btnLogout').addEventListener('click', ffi.create_proxy(doLogout))

      initialize()
    </py-script>
  </body>
</html>
