<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Login.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="box">
        <form>

        </form>
        <!--
        <div>
          <div>
            <input type="text" placeholder="아이디" />
          </div>
          <div>
            <input type="password" placeholder="비밀번호" />
          </div>
        </div>
        <button id="loginBtn" class="btn-login">로그인</button>
        <div class="box-signUp">
          <span class="btn-signUp">회원가입 ></span>
        </div>
        -->
      </div>  
    </div>

    <py-script>
      print('SignUp View') 
    </py-script>
  </body>
</html>
