<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Dice.css" />
    <link rel="stylesheet" href="../../styles/Navbar.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        $.get("../../components/Navbar/Navbar.html", function (data) {
          $("#navbarBox").append(data);
        });
      });
    </script>
  </head>
  <body>
    <header>
      <div id="navbarBox"></div>
    </header>

    <div class="main">
      <div class="box">
        <!-- 8 x 5 -->
        <div class="dice-row">
          <div class="dice-box" id="diceBox11"></div>
          <div class="dice-box" id="diceBox12"></div>
          <div class="dice-box" id="diceBox13"></div>
          <div class="dice-box" id="diceBox14"></div>
          <div class="dice-box" id="diceBox15"></div>
          <div class="dice-box" id="diceBox16"></div>
          <div class="dice-box" id="diceBox17"></div>
          <div class="dice-box" id="diceBox18"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox10"></div>
          <div class="blank"></div>
          <div class="dice-box" id="diceBox19"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox9"></div>
          <div class="blank"></div>
          <div class="dice-box" id="diceBox20"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox8"></div>
          <div class="blank"></div>
          <div class="dice-box" id="diceBox21"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox7"></div>
          <div class="dice-box" id="diceBox6"></div>
          <div class="dice-box" id="diceBox5"></div>
          <div class="dice-box" id="diceBox4"></div>
          <div class="dice-box" id="diceBox3"></div>
          <div class="dice-box" id="diceBox2"></div>
          <div class="dice-box" id="diceBox1"></div>
          <div class="dice-box" id="diceBox0">
            <img class="user" src="../../images/user1.png" id="user1Image" />
            <img class="user" src="../../images/user2.png" id="user2Image" />
          </div>
        </div>

        <div class="box-btn-dice">
          <section id="diceBox">
            <div class="dice_wrap">
              <div class="dice01">
                <div class="dice_inner">
                  <div class="dice" id="dice">
                    <div class="face1" id="face1">1</div>
                    <div class="face2" id="face2">2</div>
                    <div class="face3" id="face3">3</div>
                    <div class="face4" id="face4">4</div>
                    <div class="face5" id="face5">5</div>
                    <div class="face6" id="face6">6</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="box-btn-dice-txt">
          <div class="btnDice" id="btnDice">
            주사위 굴리기
          </div>
        </div>
      </div>

      <div class="dialog" id="dialog">
        <div class="dialog-content" id="dialogContent">
          <div class="question-title" id="questionTitle"></div>
          <div class="question-content" id="questionContent"></div>
          <div class="question-selection" id="questionSelection">
            <div class="selection" id="selection1">
              <div class="no">
                <div>1</div>
              </div>
              <div class="content" id="selection1Content"></div>
            </div>
            <div class="selection" id="selection2">
              <div class="no"><div>2</div></div>
              <div class="content" id="selection2Content"></div>
            </div>
            <div class="selection" id="selection3">
              <div class="no"><div>3</div></div>
              <div class="content" id="selection3Content"></div>
            </div>
            <div class="selection" id="selection4">
              <div class="no"><div>4</div></div>
              <div class="content" id="selection4Content"></div>
            </div>
          </div>
          <div class="question-input" id="questionInput">
            <input type="text" id="questionAnswerInput" />
            <button class="btn-done" id="doneBtn">답변</button>
          </div>
          <div class="question-ox" id="questionOX">
            <div class="o" id="oBtn">O</div>
            <div class="x" id="xBtn">X</div>
          </div>
        </div>

        <div class="box-result" id="dialogResult">
          <div class="box-right" id="resultRight">정답입니다</div>
          <div class="box-wrong" id="resultWrong">오답입니다<br/>원래 자리로 돌아가게 됩니다.</div>

          <div class="description" id="resultDescription"></div>

          <div class="box-result-buttons">
            <button class="btn-done-result" id="doneResult">확인</button>
          </div>
        </div>

        <div class="box-select-mode" id="dialogMode">
          <div class="message">
            주사위 게임 모드를 선택해주세요
          </div>

          <div class="box-select-items">
            <div class="select-item item-1p" id="btn1p"><span>1P</span></div>
            <div class="select-item item-2p" id="btn2p"><span>2P</span></div>
          </div>
        </div>
      </div>
    </div>

    <py-script>
      from js import document, location, alert, localStorage
      from pyodide import ffi
      from pyodide.http import pyfetch
      import json
      import random
      import asyncio

      questions = []
      lastRandomNumber = 1

      '''
      주사위 굴리기 관련 코드
      '''
      dice = document.getElementById('dice')
      dice_width = dice.clientWidth
      face1 = document.getElementById('face1')
      face2 = document.getElementById('face2')
      face3 = document.getElementById('face3')
      face4 = document.getElementById('face4')
      face5 = document.getElementById('face5')
      face6 = document.getElementById('face6')

      diceMode = 1 # 1: 1p, 2: 2p
      turn = 1 # 1: 1p, 2: 2p
      isRolling = False # 주사위 굴리기 애니메이션이 진행 중인지 

      def diceResizing() :
        face1.style.transform = 'rotateY(0deg) translateZ({}px)'.format(dice_width/2)
        face2.style.transform = 'rotateY(90deg) translateZ({}px)'.format(dice_width/2)
        face3.style.transform = 'rotateX(90deg) translateZ({}px)'.format(dice_width/2)
        face4.style.transform = 'rotateX(270deg) translateZ({}px)'.format(dice_width/2)
        face5.style.transform = 'rotateY(270deg) translateZ({}px)'.format(dice_width/2)
        face6.style.transform = 'rotateY(180deg) translateZ({}px)'.format(dice_width/2)

      diceResizing()

      '''
      주사위 게임 진행 관련 코드 ... 
      '''

      userValue = { 1: 0, 2: 0 }
      userBeforeValue = { 1: 0, 2: 0 }

      # 주사위 게임 1 ~ 6 random 값 return 하는 함수
      def getRandomDiceNumber () :
        global lastRandomNumber
        while True :
          value = random.randrange(0, 6) + 1
          if lastRandomNumber != value :
            lastRandomNumber = value
            return value

      # 이미지 (주사위 게임 유저 아이콘) 생성하는 함수 
      def createUserImage (no) :
        image = document.createElement('img')
        image.src = '../../images/user{}.png'.format(no)
        image.className = 'user'
        image.setAttribute('id', 'user{}Image'.format(no))
        return image
      
      # 주사위 게임 보드 내 유저(1p, 2p) 그리는 함수 
      def drawUser () :
        global userValue

        for i in range(2) :
          document.getElementById('user{}Image'.format(i + 1)).remove()
          image = createUserImage(i + 1)
          diceBox = document.getElementById('diceBox{}'.format(userValue[2] if i == 1 else userValue[1]))
          diceBox.appendChild(image)

      # 문제 Dialog Show 함수 
      def showQuestionDialog () :
        global userValue, questions, turn 

        dialog = document.getElementById('dialog')
        dialogContent = document.getElementById('dialogContent')
        dialog.style.display = dialogContent.style.display = 'flex'
        dialogResult = document.getElementById('dialogResult')
        dialogMode = document.getElementById('dialogMode')
        dialogMode.style.display = dialogResult.style.display = 'none'

        question = questions[userValue[turn] - 1]

        questionTitle = document.getElementById('questionTitle')
        questionTitle.innerHTML = '{}. {}'.format(userValue[turn], question['title'])
        questionContent = document.getElementById('questionContent')
        questionSelection = document.getElementById('questionSelection')
        questionInput = document.getElementById('questionInput')
        questionOX = document.getElementById('questionOX')

        if 'content' in question and question['content'] :
          questionContent.style.display = 'block'
          questionContent.innerHTML = question['content']
        else :
          questionContent.style.display = 'none'

        # 문제 형식에 따라 작업 ('input', 'OX', 'selection')
        if question['type'] == 'OX' :
          questionSelection.style.display = questionInput.style.display = 'none'
          questionOX.style.display = 'flex'
        elif question['type'] == 'input' :
          questionSelection.style.display = questionOX.style.display = 'none'
          questionInput.style.display = 'flex'
        else :
          questionInput.style.display = questionOX.style.display = 'none'
          questionSelection.style.display = 'block'
          for i in range(len(question['selection'])) :
            selection = question['selection'][i]
            selectionEl = document.getElementById('selection{}Content'.format(i + 1))
            selectionEl.innerHTML = selection

      # 주사위 굴리기 버튼 클릭 시 
      async def rolling (args) :
        global userValue, isRolling, turn, diceMode

        if isRolling == True :
          return

        isRolling = True
        randomValue = getRandomDiceNumber()
        dice.classList.value = 'dice'
        diceClass = 'face{}'.format(randomValue)
        dice.classList.add(diceClass)

        userValue[turn] += randomValue

        # 현재 순서인 유저가 완주했을 경우 
        if userValue[turn] >= 22 :
          message = '승리했습니다'
          if diceMode == 2 :
            if turn == 1 :
              message = '1P의 승리입니다.'
            else :
              message = '2P의 승리입니다.'

          userValue[turn] = 0
          await asyncio.sleep(0.7)
          drawUser()
          await asyncio.sleep(0.7)
          alert(message)
          location.href = '/views/Main/Main.html'
          return

        await asyncio.sleep(0.7)
        drawUser()
        await asyncio.sleep(0.7)

        # 1P 모드인 경우 
        if diceMode == 1 :
          user2RandomValue = getRandomDiceNumber()
          if user2RandomValue >= 2 :
            userValue[2] += getRandomDiceNumber()

          # user 2p가 완주했을 경우 
          if userValue[2] >= 22 :
            userValue[2] = 0
            drawUser()
            await asyncio.sleep(0.7)
            alert('패배했습니다.')
            location.href = '/views/Main/Main.html'
            return
          drawUser()

        isRolling = False
        showQuestionDialog()

      # 정답 입력(선택) 완료 시 _ 정답 처리 작업 
      def doneAnswer (answer) :
        global questions, userValue, userBeforeValue, turn, diceMode
        question = questions[userValue[turn] - 1]

        dialogContent = document.getElementById('dialogContent')
        dialogResult = document.getElementById('dialogResult')
        dialogContent.style.display = 'none'
        dialogResult.style.display = 'flex'

        resultRight = document.getElementById('resultRight')
        resultWrong = document.getElementById('resultWrong')
        resultDescription = document.getElementById('resultDescription')
        resultDescription.innerHTML = question['description']

        # 정답 체크
        isAnswer = False

        # 문제 형식이 코드 형식인 경우 
        if question['type'] == 'input' and 'isCode' in question and question['isCode'] == True :
          code = answer
          if 'before' in question :
            code = question['before'] + code
          result = {}
          # TODO: Error 처리 
          value = exec(code, globals(), result)
          if 'field' in question and result[question['field']] == question['answer'] :
            isAnswer = True
        else :
          isAnswer = question['answer'] == answer

        # 정답인 경우 
        if isAnswer :
          resultRight.style.display = 'block'
          resultWrong.style.display = 'none'
          userBeforeValue[turn] = userValue[turn]
        # 오답인 경우 
        else :
          resultRight.style.display = 'none'
          resultWrong.style.display = 'block'
          userValue[turn] = userBeforeValue[turn]

        if diceMode == 2 : 
          if turn == 1 : 
            turn = 2
          else :
            turn = 1
          btnDice = document.getElementById('btnDice')
          btnDice.innerHTML = "{}P 주사위 굴리기".format(turn)

        drawUser()

      # Input 형식 정답 입력 완료 시 
      def doneAnswerInput (args) :
        value = Element('questionAnswerInput').element.value  
        doneAnswer(value)
        Element('questionAnswerInput').element.value = ''

      # OX 퀴즈 'O' 클릭 시 
      def onClickOButton (args) :
        doneAnswer('O')
      
      # OX 퀴즈 'X' 클릭 시 
      def onClickXButton (args) :
        doneAnswer('X')
      
      # 보기 형식에서 보기 클릭 시 
      def onClickSelection (args) :
        for i in range(len(args.path)) :
          if 'selection' in args.path[i].id :
            selectionNo = int(args.path[i].id[len('selection')])
            doneAnswer(selectionNo)
            break
      
      def closeDialog () : 
        dialog = document.getElementById('dialog')
        dialog.style.display = 'none'

      # 정답 / 오답 Result 화면에서 확인 버튼 클릭 시 
      def onClickDoneResult (args) :
        closeDialog()

      def onClick1pMode (args) :
        global diceMode
        diceMode = 1
        closeDialog()
      
      def onClick2pMode (args) :
        global diceMode, turn
        diceMode = 2
        turn = 1
        btnDice = document.getElementById('btnDice')
        btnDice.innerHTML = "1P 주사위 굴리기"
        closeDialog()

      async def initialize () :
        global questions, isRolling
        dialog = document.getElementById('dialog')
        dialog.style.display = 'flex'

        response = await pyfetch(url='http://127.0.0.1:5001/DiceGames/{}'.format('1-1'), method="GET")
        response_dict = await response.json()
        isRolling = True
        questions = list(response_dict['data'].values())
        isRolling = False
      
      '''
      버튼 Event 연결 ..
      '''
      btnDice = document.getElementById('btnDice')
      btnDice.addEventListener('click', ffi.create_proxy(rolling))

      doneBtn = document.getElementById('doneBtn')
      doneBtn.addEventListener('click', ffi.create_proxy(doneAnswerInput))

      oBtn = document.getElementById('oBtn')
      oBtn.addEventListener('click', ffi.create_proxy(onClickOButton))
      xBtn = document.getElementById('xBtn')
      xBtn.addEventListener('click', ffi.create_proxy(onClickXButton))

      for i in range(4) :
        selection = document.getElementById('selection{}'.format(i + 1))
        selection.addEventListener('click', ffi.create_proxy(onClickSelection))
      
      doneResult = document.getElementById('doneResult')
      doneResult.addEventListener('click', ffi.create_proxy(onClickDoneResult))

      document.getElementById('btn1p').addEventListener('click', ffi.create_proxy(onClick1pMode))
      document.getElementById('btn2p').addEventListener('click', ffi.create_proxy(onClick2pMode))

      initialize()
    </py-script>
  </body>
</html>
