<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Dice.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <header>
      <object type="text/html" data="../../components/Navbar/Navbar.html" class="navbar"></object>  
    </header>

    <div class="main">
      <div class="box">
        <!-- 8 x 5 -->
        <div class="dice-row">
          <div class="dice-box" id="diceBox11"></div>
          <div class="dice-box" id="diceBox12"></div>
          <div class="dice-box" id="diceBox13"></div>
          <div class="dice-box" id="diceBox14"></div>
          <div class="dice-box" id="diceBox15"></div>
          <div class="dice-box" id="diceBox16"></div>
          <div class="dice-box" id="diceBox17"></div>
          <div class="dice-box" id="diceBox18"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox10"></div>
          <div class="blank"></div>
          <div class="dice-box" id="diceBox19"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox9"></div>
          <div class="blank"></div>
          <div class="dice-box" id="diceBox20"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox8"></div>
          <div class="blank"></div>
          <div class="dice-box" id="diceBox21"></div>
        </div>
        <div class="dice-row">
          <div class="dice-box" id="diceBox7"></div>
          <div class="dice-box" id="diceBox6"></div>
          <div class="dice-box" id="diceBox5"></div>
          <div class="dice-box" id="diceBox4"></div>
          <div class="dice-box" id="diceBox3"></div>
          <div class="dice-box" id="diceBox2"></div>
          <div class="dice-box" id="diceBox1"></div>
          <div class="dice-box" id="diceBox0">
            <img class="user" src="../../images/user1.png" id="user1Image" />
            <img class="user" src="../../images/user2.png" id="user2Image" />
          </div>
        </div>

        <div class="box-btn-dice">
          <section id="diceBox">
            <div class="dice_wrap">
              <div class="dice01">
                <div class="dice_inner">
                  <div class="dice" id="dice">
                    <div class="face1" id="face1">1</div>
                    <div class="face2" id="face2">2</div>
                    <div class="face3" id="face3">3</div>
                    <div class="face4" id="face4">4</div>
                    <div class="face5" id="face5">5</div>
                    <div class="face6" id="face6">6</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="box-btn-dice-txt">
          <div class="btnDice" id="btnDice">
            주사위 굴리기
          </div>
        </div>
      </div>

      <div class="dialog" id="dialog">
        <div class="dialog-content" id="dialogContent">
          <div class="question-title" id="questionTitle"></div>
          <div class="question-content" id="questionContent"></div>
          <div class="question-selection" id="questionSelection">
            <div class="selection" id="selection1">
              <div class="no">
                <div>1</div>
              </div>
              <div class="content" id="selection1Content"></div>
            </div>
            <div class="selection" id="selection2">
              <div class="no"><div>2</div></div>
              <div class="content" id="selection2Content"></div>
            </div>
            <div class="selection" id="selection3">
              <div class="no"><div>3</div></div>
              <div class="content" id="selection3Content"></div>
            </div>
            <div class="selection" id="selection4">
              <div class="no"><div>4</div></div>
              <div class="content" id="selection4Content"></div>
            </div>
          </div>
          <div class="question-input" id="questionInput">
            <input type="text" id="questionAnswerInput" />
            <button class="btn-done" id="doneBtn">답변</button>
          </div>
          <div class="question-ox" id="questionOX">
            <div class="o" id="oBtn">O</div>
            <div class="x" id="xBtn">X</div>
          </div>
        </div>

        <div class="box-result" id="dialogResult">
          <div class="box-right" id="resultRight">정답입니다</div>
          <div class="box-wrong" id="resultWrong">오답입니다<br/>원래 자리로 돌아가게 됩니다.</div>

          <div class="commentary" id="resultCommentary"></div>

          <div class="box-result-buttons">
            <button class="btn-done-result" id="doneResult">확인</button>
          </div>
        </div>
      </div>
    </div>

    <py-script>
      from js import document, location, alert
      from pyodide import ffi
      import random
      import asyncio

      questions = [
        { 'title': '다음 중 파이썬의 특징이 아닌 것을 고르세요.', 'answer': 1, 'selections': ['파이썬은 컴파일러 언어이다.', '파이썬의 개발자는 ‘귀도 반 로섬’이다.', '파이썬은 1991년에 개발되었다.', '파이썬은 우리말로 ‘비단뱀’을 뜻한다.'], 'type': 'selection', 'commentary': '파이썬은 인터프리터 언어입니다.' },
        { 'title': '파이썬은 다른 프로그래밍 언어(Java, C+ 등등)에 비해 비교적 쉽고 간단하다.<br/>맞으면 O, 틀리면 X', 'answer': 'O', 'type': 'OX', 'commentary': '파이썬은 Java, C+ 등의 다른 프로그래밍 언어에 비해 비교적 쉬운 편이에요!' },
        { 'title': '파이썬의 사용 분야를 생각해보고, 한 곳만 입력해보세요.', 'answer': '머신러닝', 'type': 'input', 'commentary': '파이썬은 인공지능(AI) / 빅데이터(BigData) / 웹 / 머신러닝 등 여러 분야에서 사용되고 있는 언어랍니다!' },
        { 'title': "‘number’라는 변수에 숫자 ‘100’을 넣는 코드를 작성해보세요.", 'answer': 100, 'type': 'input', 'commentary': 'number이라는 변수에 100을 넣어야하기 때문에 number = 100을 입력해요!', 'isCode': True, 'field': 'number' },
        { 'title': '다음과 같이 입력했을 때 화면에출력되는 값은?', 'content': '년도 = 1990<br/>년도 = 2022<br/>print(년도)<br/>', 'answer': '2022', 'type': 'input', 'commentary': '변수는 사용자의 입력에 따라 계속해서 변한다는 특징을 가지고 있고,‘년도’라는 변수가 1990에서 2022으로 변했기 때문에 년도를 출력했을 때 2022라는 값이 출력되요!' },
        { 'title': "‘color’과 ‘Color’은 같은 변수이다. 맞으면 O, 틀리면 X", 'answer': 'X', 'type': 'OX', 'commentary': '변수는 대/소문자를 구분한다는 특징을 가지고 있어요!' },
        { 'title': "‘숫자’라는 변수 안에 10, 20, 30 값이 들어간 리스트(list)를 만들어보세요.", 'answer': [10, 20, 30], 'type': 'input', 'commentary': '변수명 = [리스트값]을 입력해주면 쉽게 리스트를 만들 수 있어요!', 'isCode': True, 'field': '숫자' },
        { 'title': '데이터 값을 사용자로부터 입력 받는 함수는 무엇인가요?', 'answer': 'input', 'type': 'input', 'commentary': '사용자에게 값을 입력 받기 위해서는 ‘input’ 함수를 사용해요!' },
        { 'title': '주어진 변수 “나이” 를 출력해보세요.', 'content': '주어진 변수 “나이” 를 출력해보세요.', 'answer': 'print(나이)', 'type': 'input', 'commentary': 'print(나이)를 입력하면 숫자 8이 화면에 출력되요!' },
        { 'title': '제어문의 종류로 알맞지 않은것은?', 'type': 'selection', 'answer': 4, 'selections': ['for', 'while', 'if', 'int'], 'commentary': '제어문은 총 3가지가 있고, 세부적으로 for과 while은 반복문에 해당하고 if는 조건문에 해당해요! 반복문과 조건문을 합친 것을 우리는 제어문이라고 해요. int는 파이썬에서 정수를 나타낼 때 쓰는 데이터 타입에 해당해요!' },
        { 'title': '조건문(if문)을 작성할때 elif 는 한개만 사용하여야한다.<br/>맞으면 O, 틀리면 X', 'type': 'OX', 'answer': 'X', 'commentary': '조건이 여러 개일 경우, elif 사용해서 여러 개의 조건을 입력할 수 있어요. 이것을 우리는 ‘중첩 if문’이라고 불러요!' },
        { 'title': '조건문의 특징으로 알맞지 않은 것은?', 'answer': 1, 'type': 'selection', 'selections': ['조건문을 작성할 때 들여쓰기를 하지 않아도 된다.', '조건문은 프로그램의 흐름을 제어하는 문법이다.', '조건문은 if문을 사용한다', '조건문의 끝에 콜론(:)을 붙인다.'], 'commentary': '조건문(if문)을 작성할때 꼭 들여쓰기를 해줘야해요! 또한 조건문(if문)을 작성함으로써 프로그램의 흐름을 제어할 수 있고,  if 조건을 입력한 다음에는 콜론(:)을 입력해야 오류가 나지 않는답니다!' },
        { 'title': '반복문의 종류로 알맞은 것은?', 'answer': 4, 'type': 'selection', 'selections': ['int', 'if', 'print', 'for'], 'commentary': '반복문의 종류는 총 2가지로,  for문과 while문이 있어요.' },
        { 'title': '반복문을 즉시 탈출하고자 할때 쓰는 함수명은 무엇일까요?', 'answer': 3, 'type': 'selection', 'selections': ['str', 'while', 'break',' else'], 'commentary': '반복문을 즉시 탈출하고자할땐 break를 사용해요!<br/>str은 문자형 데이터 타입을 나타낼 때 쓰이고, while은 반복문에 해당해요!<br/>else는 조건문(if문)에서 함께 쓰인답니다!' },
        { 'title': '비교연산자 X > Y 설명으로 옳은것은?', 'answer': 2, 'type': 'selection', 'selections': ['X와 Y가 서로 같을때 참(True)이다.', 'X가 Y보다 클 때 참(True)이다.', 'X와 Y가 서로 다를때 참(True)이다.', 'X가 Y보다 작을 때 참(True)이다.'], 'commentary': '비교연산자 ‘X > Y’는 X > Y가 클 경우 참이라는 뜻을 가지고 있어요!' },
        { 'title': 'for문과 while문 둘은 반복문이지만 아래와 같은 차이점이 있다.<br/>맞으면 O, 틀리면 X', 'content': 'for문은 반복횟수가 정해진 경우, while문은 특정 조건이 만족할 때까지 수행하는 경우에 사용된다.', 'type': 'OX', 'answer': 'O', 'commentary': 'for문과 while의 가장 큰 특징으로는 for문은 반복횟수가 정해져 있으나 while문은 반복할 횟수가 정확하게 정해져 있지 않아요! 그래서 while문은 True를 입력해 통해 조건이 만족할 때까지 계속적으로 반복할 수 있답니다!' },
        { 'title': "‘숫자’가 0~9까지 출력되도록 코드 작성, 반복문 while 사용", 'content': '숫자 = 0 (변수)<br/><br/>[	빈	칸	]<br/>&nbsp; &nbsp; &nbsp; &nbsp; print(숫자) 	(변수 ‘숫자’ 출력)<br/>&nbsp; &nbsp; &nbsp; &nbsp; 숫자 = 숫자 +1 	(while문을 한번 반복 시 변수 ‘숫자’  +1 증가)', 'type': 'input', 'answer': "while 숫자 &lt; 10 :", 'commentary': '문제에서 주어진 조건이 0~9까지이니 [while 숫자 &lt; 10 :] 또는 [while 숫자 &lt;= 9 :] 를 작성하면 되요!' },
        { 'title': '예약어 continue 에 대한 설명으로 옳은 것은?', 'type': 'selection', 'answer': 2, 'selections': ['특정조건에서 반복문을 멈추고싶을때 이용한다.', '특정조건에서 작동을 수행하지않고 넘어가고싶을때 이용한다.', '특정변수의 크기를 비교할때 사용한다.', '반복문에서 필수적으로 적어야하는 예약어이다.'], 'commentary': 'continue는 break와 같이 반복문에서 사용하지만 ‘break’는 반복문을 탈출할 때에 쓰고, ‘continue’는 코드를 실행하지 않고 넘기고 싶을 때에 사용해요!' },
        { 'title': '논리연산자의 종류로 옳은 것은?', 'type': 'selection', 'answer': 3, 'selections': ['>', '>=', 'and', '&lt;'], 'commentary': '논리연산자의 종류에는 “and”, “or”, “not”이 있어요. <br/> > 또는 &lt;=와 같은 등호는 비교연산자에 해당해요!' },
        { 'title': '변수 A와 B를 사용해서 두 값을 더한 값을 화면에 출력해보세요.', 'content': 'a=10<br/>b=15', 'type': 'input', 'answer': 'print(a+b)', 'commentary': '출력함수인 print를 사용해서 print(a+b)를 출력하면 화면에 25가 출력되요!' },
        { 'title': 'while문을 사용해  6번 반복하는 코드를 작성해보세요.', 'type': 'input', 'answer': 'while >= 6:', 'commentary': 'while문은 기본적으로 [while 조건:] 형식으로 쓰이기 때문에, while >=6 또는 while >7를 입력해서 작성하면 되요!' }
      ]

      '''
      주사위 굴리기 관련 코드
      '''
      dice = document.getElementById('dice')
      dice_width = dice.clientWidth
      face1 = document.getElementById('face1')
      face2 = document.getElementById('face2')
      face3 = document.getElementById('face3')
      face4 = document.getElementById('face4')
      face5 = document.getElementById('face5')
      face6 = document.getElementById('face6')

      isRolling = False # 주사위 굴리기 애니메이션이 진행 중인지 

      def diceResizing() :
        face1.style.transform = 'rotateY(0deg) translateZ({}px)'.format(dice_width/2)
        face2.style.transform = 'rotateY(90deg) translateZ({}px)'.format(dice_width/2)
        face3.style.transform = 'rotateX(90deg) translateZ({}px)'.format(dice_width/2)
        face4.style.transform = 'rotateX(270deg) translateZ({}px)'.format(dice_width/2)
        face5.style.transform = 'rotateY(270deg) translateZ({}px)'.format(dice_width/2)
        face6.style.transform = 'rotateY(180deg) translateZ({}px)'.format(dice_width/2)

      diceResizing()

      '''
      주사위 게임 진행 관련 코드 ... 
      '''
      user1Value = 0
      user1BeforeValue = 0
      user2Value = 0
      user2BeforeValue = 0

      # 주사위 게임 1 ~ 6 random 값 return 하는 함수
      def getRandomDiceNumber () :
        return random.randrange(0, 6) + 1

      # 이미지 (주사위 게임 유저 아이콘) 생성하는 함수 
      def createUserImage (no) :
        image = document.createElement('img')
        image.src = '../../images/user{}.png'.format(no)
        image.className = 'user'
        image.setAttribute('id', 'user{}Image'.format(no))
        return image
      
      # 주사위 게임 보드 내 유저(1p, 2p) 그리는 함수 
      def drawUser () :
        global user1Value, user2Value

        for i in range(2) :
          document.getElementById('user{}Image'.format(i + 1)).remove()
          image = createUserImage(i + 1)
          diceBox = document.getElementById('diceBox{}'.format(user2Value if i == 1 else user1Value))
          diceBox.appendChild(image)

      # 문제 Dialog Show 함수 
      def showQuestionDialog () :
        global user1Value, questions

        dialog = document.getElementById('dialog')
        dialogContent = document.getElementById('dialogContent')
        dialog.style.display = dialogContent.style.display = 'flex'
        dialogResult = document.getElementById('dialogResult')
        dialogResult.style.display = 'none'

        question = questions[user1Value - 1]

        questionTitle = document.getElementById('questionTitle')
        questionTitle.innerHTML = '{}. {}'.format(user1Value, question['title'])
        questionContent = document.getElementById('questionContent')
        questionSelection = document.getElementById('questionSelection')
        questionInput = document.getElementById('questionInput')
        questionOX = document.getElementById('questionOX')

        if 'content' in question :
          questionContent.style.display = 'block'
          questionContent.innerHTML = question['content']
        else :
          questionContent.style.display = 'none'

        # 문제 형식에 따라 작업 ('input', 'OX', 'selection')
        if question['type'] == 'OX' :
          questionSelection.style.display = questionInput.style.display = 'none'
          questionOX.style.display = 'flex'
        elif question['type'] == 'input' :
          questionSelection.style.display = questionOX.style.display = 'none'
          questionInput.style.display = 'flex'
        else :
          questionInput.style.display = questionOX.style.display = 'none'
          questionSelection.style.display = 'block'
          for i in range(len(question['selections'])) :
            selection = question['selections'][i]
            selectionEl = document.getElementById('selection{}Content'.format(i + 1))
            selectionEl.innerHTML = selection

      # 주사위 굴리기 버튼 클릭 시 
      async def rolling (args) :
        global user1Value, user2Value, isRolling

        if isRolling == True :
          return

        isRolling = True
        randomValue = getRandomDiceNumber()
        dice.classList.value = 'dice'
        diceClass = 'face{}'.format(randomValue)
        dice.classList.add(diceClass)

        user1Value += randomValue

        # user 1p가 완주했을 경우 
        if user1Value >= 21 :
          user1Value = 0 
          await asyncio.sleep(0.7)
          drawUser()
          await asyncio.sleep(0.7)
          alert('승리했습니다.')
          location.href = '/views/Main/Main.html'
          return

        await asyncio.sleep(0.7)
        drawUser()
        await asyncio.sleep(0.7)

        user2RandomValue = getRandomDiceNumber()
        if user2RandomValue >= 2 :
          user2Value += getRandomDiceNumber()

        # user 2p가 완주했을 경우 
        if user2Value >= 21 :
          drawUser()
          await asyncio.sleep(0.7)
          alert('패배했습니다.')
          location.href = '/views/Main/Main.html'
          return

        drawUser()
        isRolling = False
        showQuestionDialog()

      # 정답 입력(선택) 완료 시 _ 정답 처리 작업 
      def doneAnswer (answer) :
        global questions, user1Value, user1BeforeValue
        question = questions[user1Value - 1]

        dialogContent = document.getElementById('dialogContent')
        dialogResult = document.getElementById('dialogResult')
        dialogContent.style.display = 'none'
        dialogResult.style.display = 'flex'

        resultRight = document.getElementById('resultRight')
        resultWrong = document.getElementById('resultWrong')
        resultCommentary = document.getElementById('resultCommentary')
        resultCommentary.innerHTML = question['commentary']

        # 정답 체크
        isAnswer = False

        # 문제 형식이 코드 형식인 경우 
        if question['type'] == 'input' and 'isCode' in question and question['isCode'] == True :
          code = answer
          if 'before' in question :
            code = question['before'] + code
          result = {}
          # TODO: Error 처리 
          value = exec(code, globals(), result)
          if 'field' in question and result[question['field']] == question['answer'] :
            isAnswer = True
        else :
          isAnswer = question['answer'] == answer

        # 정답인 경우 
        if isAnswer :
          resultRight.style.display = 'block'
          resultWrong.style.display = 'none'
          user1BeforeValue = user1Value
        # 오답인 경우 
        else :
          resultRight.style.display = 'none'
          resultWrong.style.display = 'block'
          user1Value = user1BeforeValue
        drawUser()

      # Input 형식 정답 입력 완료 시 
      def doneAnswerInput (args) :
        value = Element('questionAnswerInput').element.value  
        doneAnswer(value)
        Element('questionAnswerInput').element.value = ''

      # OX 퀴즈 'O' 클릭 시 
      def onClickOButton (args) :
        doneAnswer('O')
      
      # OX 퀴즈 'X' 클릭 시 
      def onClickXButton (args) :
        doneAnswer('X')
      
      # 보기 형식에서 보기 클릭 시 
      def onClickSelection (args) :
        for i in range(len(args.path)) :
          if 'selection' in args.path[i].id :
            selectionNo = int(args.path[i].id[len('selection')])
            doneAnswer(selectionNo)
            break

      # 정답 / 오답 Result 화면에서 확인 버튼 클릭 시 
      def onClickDoneResult (args) :
        dialog = document.getElementById('dialog')
        dialog.style.display = 'none'
      
      '''
      버튼 Event 연결 ..
      '''
      btnDice = document.getElementById('btnDice')
      btnDice.addEventListener('click', ffi.create_proxy(rolling))

      doneBtn = document.getElementById('doneBtn')
      doneBtn.addEventListener('click', ffi.create_proxy(doneAnswerInput))

      oBtn = document.getElementById('oBtn')
      oBtn.addEventListener('click', ffi.create_proxy(onClickOButton))
      xBtn = document.getElementById('xBtn')
      xBtn.addEventListener('click', ffi.create_proxy(onClickXButton))

      for i in range(4) :
        selection = document.getElementById('selection{}'.format(i + 1))
        selection.addEventListener('click', ffi.create_proxy(onClickSelection))
      
      doneResult = document.getElementById('doneResult')
      doneResult.addEventListener('click', ffi.create_proxy(onClickDoneResult))
    </py-script>
  </body>
</html>
