<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Main.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        $.get("../../components/Navbar/Navbar.html", function (data) {
          $("#navbarBox").append(data);
        });
      });
    </script>
  </head>
  <body>
    <header>
      <div id="navbarBox"></div>
    </header>    
    <div class="main">
      <div class="box">
        <div class="box-circles" id="box-circles"></div>
      </div>

      <div class="dialog" id="dialog">
        <div class="ranking-content dialog-content" id="rankingContent">
          <div class="dialog-header">
            <span id="closeDialogBtn" class="btn-close">X</span>
          </div>
          <div class="line"></div>
          <div class="header" id="header">
            <div class="title" id="title">RANK</div>
          </div>
         
          <ul class="rank_wrap">
            <li class="rank_item">
              <div class="rank_item_wrap">
                <span class="rank_number">1</span>
                <span class="rank_nickname" style=margin-left:5px;>Nickname_1</span>
              </div>
              <span class="rank_point">125 point</span>
            </li>
            <li class="rank_item">
              <div class="rank_item_wrap">
                <span class="rank_number">2</span>
                <span class="rank_nickname">Nickname_2</span>
              </div>
              <span class="rank_point">95 point</span>
            </li>
            <li class="rank_item">
              <div class="rank_item_wrap">
                <span class="rank_number">3</span>
                <span class="rank_nickname">Nickname_3</span>
              </div>
              <span class="rank_point">85 point</span>
            </li>
            <li class="rank_item">
              <div class="rank_item_wrap">
                <span class="rank_number">4</span>
                <span class="rank_nickname">Nickname_4</span>
              </div>
              <span class="rank_point">25 point</span>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <py-script>
      from js import document, location, localStorage
      from pyodide import ffi
      from pyodide.http import pyfetch
      import asyncio
      import json

      lectures = []

      # 데이터 가져오기
      async def getLectures () :
        global lectures

        response = await pyfetch(url='http://127.0.0.1:5001/learningDatas/{}'.format(1), method="GET")
        response_dict = await response.json()
        data = response_dict['data']
        lectureKeys = data.keys()

        lectures = []

        # TODO: 현재는 모든 Lecture가 오기 때문에 프론트에서 Filtering 해준다.
        for lectureKey in lectureKeys :
          lecture = data[lectureKey]
          if 'classID' in data[lectureKey] and data[lectureKey]['classID'] == '1' :
            lectures.append(data[lectureKey])

      doneLectures = localStorage.getItem('doneLectures') or []

      def onClickCircle (args) :
        for i in range(len(args.path)) :
          if 'circle' in args.path[i].id :
            circleNo = int(args.path[i].id[len(args.path[i].id) - 1])
            if circleNo == 5 :
              location.href = '/views/Dice/Dice.html'
            else :
              location.href = '/views/Study/Study.html?no={}'.format(circleNo + 1)
            break

      def drawCircles () :
        for i in range(len(lectures) + 1) :
          isDice = i == len(lectures)
          circleId = 'circle_item_{}'.format(i)
          lectureDiv = document.createElement('div')
          lineDiv = document.createElement('div')
        
          # circle 별 class 적용 (index의 짝홀수 여부에 따라 상단/하단 위치에 할 수 있도록 class 적용)
          if isDice :
            lectureDiv.className = 'circle circle-odd circle-dice'

          elif i % 2 == 0 :
            lectureDiv.className = 'circle circle-even'
            lineDiv.className ='upLine'
      
          else :
            lectureDiv.className = 'circle circle-odd'
            lineDiv.className = 'downLine'
        

          if '{}'.format(i + 1) in doneLectures :
            lectureDiv.className += ' done-circle'

          lectureDiv.setAttribute('id', circleId)
          lectureDiv.setAttribute('index', i)

          lineDiv.setAttribute('id', circleId)

          # circle 내 내부 텍스트 생성 
          lectureSpan = document.createElement('span')
          if isDice :
            diceImg = document.createElement('img')
            diceImg.src = '../../images/dice.png'
            lectureSpan.appendChild(diceImg)
          else :
            lectureSpan.appendChild(document.createTextNode(i + 1))

          lectureDiv.appendChild(lectureSpan)
          lectureDiv.appendChild(lineDiv)
          document.getElementById('box-circles').append(lectureDiv)

          lectureDiv.addEventListener('click', ffi.create_proxy(onClickCircle))

      async def initialize () :
        await getLectures()
        drawCircles()

      initialize()
    </py-script>
  </body>
</html>