<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Main.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <header>
      <object type="text/html" data="../../components/Navbar/Navbar.html" class="navbar"></object>  
    </header>

    <div class="main">
      <div class="box">
        <div class="box-circles" id="box-circles">
        </div>
      </div>
    </div>

    <py-script>
      from js import document, location 
      from pyodide import ffi

      def onClickCircle (args) :
        for i in range(len(args.path)) :
          if 'circle' in args.path[i].id :
            circleNo = int(args.path[i].id[len(args.path[i].id) - 1])
            if circleNo == 5 :
              location.href = '/views/Dice/Dice.html'
            else :
              location.href = '/views/Study/Study.html?no={}'.format(circleNo + 1)
            break

      for i in range(6) :
        isDice = i == 5
        circleId = 'circle_item_{}'.format(i)
        lectureDiv = document.createElement('div')

        # circle 별 class 적용 (index의 짝홀수 여부에 따라 상단/하단 위치에 할 수 있도록 class 적용)
        if isDice :
          lectureDiv.className = 'circle circle-odd circle-dice'
        elif i % 2 == 0 :
          lectureDiv.className = 'circle circle-even'
        else :
          lectureDiv.className = 'circle circle-odd'

        lectureDiv.setAttribute('id', circleId)
        lectureDiv.setAttribute('index', i)

        # circle 내 내부 텍스트 생성 
        lectureSpan = document.createElement('span')
        if isDice :
          diceImg = document.createElement('img')
          diceImg.src = '/images/dice.png'
          lectureSpan.appendChild(diceImg)
        else :
          lectureSpan.appendChild(document.createTextNode(i + 1))

        lectureDiv.appendChild(lectureSpan)
        document.getElementById('box-circles').append(lectureDiv)

        lectureDiv.addEventListener('click', ffi.create_proxy(onClickCircle))
    </py-script>
  </body>
</html>
