body {
  margin: 0;
  background: #FBFCF4;
}

.navbar {
  width: 100%;
  height: 65px;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100% - 65px);
}

.box {
  display: flex;
  margin: auto;
  padding: 100px 60px;
  width: calc(90% - 120px);
  height: 400px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
}

.box-circles {
  display: flex;
  margin: auto;
  height: 400px;
}

.circle {
  cursor: pointer;
  display: flex;
  width: 150px;
  height: 150px;
  background: #FAC17F;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circle:hover {
  background: rgb(201, 153, 99);
}

.circle > span {
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 80px
}

.circle > span:hover {
  display: none;
}

.circle > span#lectureTxt {
  display: none;
}

.circle img {
  width: calc(100% - 50px)
}

.circle-even {
  margin-top: auto;
}

.circle-dice  {
  background: #AC88EB;
}

.circle-dice:hover  {
  background: rgb(146, 115, 201);
}

.done-circle {
  background: #cb9659;
}

/**
 * Navbar 관련 css 
**/
header {
  height: 65px;
  margin: 0;
  background: #3AA73D;
}

.navbar {
  display: flex;
  width: calc(100% - 40px);
  height: 65px;
  padding: 0 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo > span {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}

.blank {
  flex: 1;
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

/**
* Dialog
**/
.dialog {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.dialog-content {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px 25px;
  width: 50%;
  height: 80%;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.dialog-header {
  text-align: right;
}

.btn-close {
  cursor: pointer;
  color: #3AA73D;
  font-weight: bold;
  font-size: 22px;
}

.header {
  display: flex;
}

.title {
  flex: 1;
  text-align: center;
}

.title {
  color: #FAC17F;
  font-size: 50px;
  font-weight: bold;
}

.title {
  color: #FAC17F;
  font-size: 50px;
  font-weight: bold;
}

.rank_wrap{
  padding: 0;
}

.rank_item{
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  list-style: none;
  border-bottom: 1px solid #B5B5B5;
}

.rank_item_wrap{
  display: flex;
}

.rank_number {
  color: #AC88EB;
  font-size: 50px;
  font-weight: bold;

}

.rank_nickname {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  padding-left: 81px;
  position: relative;
  display: block;
  width: auto;
}
.rank_nickname::after{
  content : '';
  background-image: url("../../images/ProfileImage.svg");
  width: 33px;
  height: 33px;
  display: block;
  position: absolute;
  left: 28px;
  top: 53%;
  transform:translateY(-50%);
}


.rank_point {
  color: #FCC21B;
  font-size: 18px;
  font-weight: bold;
}
