<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./Study.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <header>
      <object type="text/html" data="../../components/Navbar/Navbar.html" class="navbar"></object>  
    </header>

    <div class="main">
      <div class="box">
        <div class="header">
          <div class="title" id="title"></div>
          <button class="btn-next" id="nextBtn">다음</button>
        </div>
        <video id="studyVideo" controls></video>
      </div>
    </div>

    <py-script>
      from js import document, location 
      from pyodide import ffi

      queries = location.href.split('?')[1]
      no = queries[len(queries) - 1]
      videoFilePath = '/videos/video_1_{}.mp4'.format(no)

      titles = ['파이썬 설치 및 소개', '변수 및 자료형', '입출력', '조건문', '반복문']
      titleDiv = document.getElementById('title')
      titleDiv.innerHTML = titles[int(no) - 1]

      videoTag = document.getElementById('studyVideo')
      source = document.createElement('source')

      source.setAttribute('src', videoFilePath)
      source.setAttribute('type', 'video/mp4')

      videoTag.appendChild(source)

      def doNext (args) :
        location.href = '/views/PointGame/PointGame.html?no={}'.format(no)
      nextBtnProxy = ffi.create_proxy(doNext)
      document.getElementById('nextBtn').addEventListener('click', nextBtnProxy)
    </py-script>
  </body>
</html>
