<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./MyPage.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <header>
      <!--
      <object type="text/html" data="../../components/Navbar/Navbar.html" class="navbar"></object>  
      -->
      <div class="navbar">
        <div class="logo" id="logo">
          <span>헬로파이썬</span>
        </div>
  
        <div class="blank"></div>
        <div class="btn" id="rankingBtn"><span>랭킹 확인하기</span></div> 
        <div class="btn"><span>마이페이지</span></div> 
      </div>
    </header>

    <div class="main">
      <div class="box">
        <!-- 해당 부분에서 HTML 작성해주시면 됩니다 !-->
      </div>
    </div>

    <py-script>
    </py-script>
  </body>
</html>
