<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./MyPage.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <header>
        
      <div class="navbar">
        <div class="logo" id="logo">
          <span>헬로파이썬</span>
        </div>
  
        <div class="blank"></div>
        <div class="btn" id="rankingBtn"><span>랭킹 확인하기</span></div> 
        <div class="btn"><span>마이페이지</span></div> 
      </div>
    </header>

    <div class="main">
      
      <div class="box">
        <div class="profile-image" style="margin-left:82px;margin-top:69px;">
          <img src="../../images/mypage_profile.svg" alt="">
        </div>
      
        <div class="profile-user-name" style="margin-left:250px;margin-top:-130px;">Nickname</div>
        <button class="profile-edit-btn" style="margin-left:-290px;margin-top:-190px;">
          <img src="../../images/mypage_editbutton.svg" alt="" width="43px;" height="43px;">
        </button>
    
        <div class="profile-point-status" style="margin-left:285px;margin-top:20px;">보유 포인트 : 5 point </div> 
        <div class="point-icon" style="margin-left:245px;margin-top:-35px;">
          <img src="../../images/mypage_point.svg" alt="">
        </div>
      </div>
    </div>


    <py-script>
    </py-script>
  </body>
</html>
