<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./PointGame.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
  </head>
  <body>
    <header>
      <object type="text/html" data="../../components/Navbar/Navbar.html" class="navbar"></object>  
    </header>

    <div class="main">
      <div class="box">
        <div class="header" id="header">
          <div class="title" id="title">포인트 게임 1단계</div>
          <div class="step" id="step">1/3</div>
        </div>
        <div class="sub-header">
          <div class="sub-title">빈칸 채우기 게임</div>
          <div class="point" id="point">포인트</div>
        </div>

        <div class="box-question">
          <div class="question-title" id="questionTitle">
          </div>
          <div class="question-content" id="questionContent">
          </div>
        </div>

        <div class="box-answer">
          <input type="text" />
          <button class="btn-answer" id="answerBtn">답변</button>
        </div>
      </div>
    </div>

    <py-script>
      import json
      from js import document, location 
      from pyodide import ffi

      queries = location.href.split('?')[1]
      no = queries[len(queries) - 1]

      step = 0

      games = [
        { 'point': 3, 'title': '"안녕 파이썬"을 출력하는 프로그램을 완성시켜보세요!', 'content': '<div class="blank"></div>("안녕 파이썬")', 'answer': 'print' },
        { 'point': 5, 'title': '"안녕 파이썬"을 출력하는 프로그램을 완성시켜보세요!', 'content': '<div class="blank"></div>("안녕 파이썬")', 'answer': 'print' },
        { 'point': 8, 'title': '"안녕 파이썬"을 출력하는 프로그램을 완성시켜보세요!', 'content': '<div class="blank"></div>("안녕 파이썬")', 'answer': 'print' }
      ]

      def initialize () :
        title = document.getElementById('title')
        stepDiv = document.getElementById('step')
        title.innerHTML = '포인트 게임 {}단계'.format(step + 1)
        stepDiv.innerHTML = '{}/3'.format(step + 1)
        pointDiv = document.getElementById('point')
        game = games[step]
        pointDiv.innerHTML = '{}포인트'.format(game['point'])
        questionTitle = document.getElementById('questionTitle')
        questionTitle.innerHTML = game['title']
        questionContent = document.getElementById('questionContent')
        questionContent.innerHTML = game['content']

      def doAnswer (args) :
        # 정답 체크 
        global step
        step = step + 1
        initialize()

      initialize()

      answerBtn = document.getElementById('answerBtn')
      answerBtn.addEventListener('click', ffi.create_proxy(doAnswer))
    </py-script>
  </body>
</html>
