<html>
  <head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="./PointGame.css" />
    <link rel="stylesheet" href="../../styles/Navbar.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        $.get("../../components/Navbar/Navbar.html", function (data) {
          $("#navbarBox").append(data);
        });
      });
    </script>
  </head>
  <body>
    <header>
      <div id="navbarBox"></div>
    </header>

    <div class="main">
      <div class="box">
        <div class="btn-hint" id="hintBtn">
          <img src="../../images/hint.png" />
        </div>

        <div class="header" id="header">
          <div class="title" id="titlePointGame">포인트 게임 1단계</div>
          <div class="step" id="step">1/3</div>
        </div>
        <div class="sub-header">
          <div class="sub-title">빈칸 채우기 게임</div>
          <div class="point" id="point">포인트</div>
        </div>

        <div class="box-question">
          <div class="question-title" id="questionTitle">
          </div>
          <div class="question-content" id="questionContent">
          </div>
        </div>

        <div class="box-answer" id="inputAnswerBox">
          <input type="text" id="inputAnswer" />
          <button class="btn-answer" id="answerBtn">답변</button>
        </div>

        <div class="box-selection" id="selectionAnswerBox">
          <div class="selection" id="selection1">
            <div class="no">
              <div>1</div>
            </div>
            <div class="content" id="selection1Content"></div>
          </div>
          <div class="selection" id="selection2">
            <div class="no"><div>2</div></div>
            <div class="content" id="selection2Content"></div>
          </div>
          <div class="selection" id="selection3">
            <div class="no"><div>3</div></div>
            <div class="content" id="selection3Content"></div>
          </div>
          <div class="selection" id="selection4">
            <div class="no"><div>4</div></div>
            <div class="content" id="selection4Content"></div>
          </div>
        </div>

        <div class="box-ox" id="oxAnswerBox">
          <div class="box-o" id="oBtn">O</div>
          <div class="box-x" id="xBtn">X</div>
        </div>
      </div>

      <div class="dialog" id="dialog">
        <div class="dialog-content" id="dialogContent">
          <div class="box-right" id="rightBox">
            <div class="title">정답입니다!</div>
          </div>
          <div class="box-wrong" id="wrongBox">
            <div class="title">오답입니다</div>
            <div class="message">
              다시 시도해주세요!<br/>
              오른쪽 위 전구 아이콘을 누르면 힌트를 확인할 수 있어요!
            </div>
          </div>

          <div class="box-commentary" id="commentaryBox"></div>

          <div class="box-result-buttons">
            <button class="btn-done-result" id="doneResult">확인</button>
          </div>
        </div>

        <div class="box-hint" id="hintBox">
          <div class="hint-title">힌트</div>
          <div class="hint-content" id="hintContent"></div>
          <div class="box-result-buttons">
            <button class="btn-done-result" id="doneHint">확인</button>
          </div>
        </div>
      </div>
    </div>

    <py-script src="../../models.py"></py-script>
    <py-script src="./PointGame.py"></py-script>
    <py-script>
      from js import document, location, localStorage
      from pyodide import ffi
      from pyodide.http import pyfetch
      import json

      queries = location.href.split('?')[1]
      learningID = queries[len('no=') : ]

      step = 0
      lastResult = False

      games = []

      # Point Game Data를 가져오는 함수 
      async def getGameData () :
        global games
        response = await pyfetch(url='http://127.0.0.1:5001/PointGames/{}'.format(learningID), method="GET")
        response_dict = await response.json()
        data = response_dict['data']

        games = []
        for value in data.values() :
          games.append(PointGame(value))

      async def initialize () :
        await getGameData()
        initView()

      def closeDialog () :
        dialog = document.getElementById('dialog')
        dialog.style.display = 'none'

      # type: 'input' 답변 버튼 클릭 시 
      async def doAnswer (args) :
        value = Element('inputAnswer').element.value  
        await doneAnswer(value)
        Element('inputAnswer').element.value = ''

      # O 버튼 클릭 시 
      async def onClickOBtn (args) :
        await doneAnswer('O')

      # X 버튼 클릭 시 
      async def onClickXBtn (args) :
        await doneAnswer('X')

      # Selection 클릭 시 
      async def onClickSelection (args) :
        for i in range(len(args.path)) :
          if 'selection' in args.path[i].id :
            selectionNo = int(args.path[i].id[len('selection')])
            await doneAnswer(selectionNo)
            break

      # PointGame 종료 시 
      async def doneLearning () :
        global learningID
        userid = localStorage.getItem('hp-user-id')
        response = await pyfetch(url="http://127.0.0.1:5001/doneLearning", method="POST", body=json.dumps({ 'userid': userid, 'learningID': learningID }))
        response_dict = await response.json()
        location.href = '/views/Main/Main.html'

      async def onClickDialogDoneButton (args) :
        global step

        if lastResult :
          step = step + 1
          if step >= 3 :
            await doneLearning()
          else :
            initView()
        closeDialog()

      '''
      ================================================================
      힌트 관련 함수
      ================================================================
      '''

      # 힌트 버튼 클릭 시, 힌트 Dialog View 
      def onClickHintBtn (args) :
        global games, step
        document.getElementById('dialog') .style.display = 'flex'
        document.getElementById('dialogContent') .style.display = 'none'
        document.getElementById('hintBox') .style.display = 'flex'
        document.getElementById('hintContent') .innerHTML = games[step].hint
        reducePoint()

      # 힌트 완료 버튼 클릭 시 - Dialog 를 닫는다. 
      def onClickHintDone (args) :
        closeDialog()

      for i in range(4) :
        document.getElementById('selection{}'.format(i + 1)).addEventListener('click', ffi.create_proxy(onClickSelection))

      document.getElementById('answerBtn').addEventListener('click', ffi.create_proxy(doAnswer))
      document.getElementById('doneResult').addEventListener('click', ffi.create_proxy(onClickDialogDoneButton))
      document.getElementById('hintBtn').addEventListener('click', ffi.create_proxy(onClickHintBtn))
      document.getElementById('doneHint').addEventListener('click', ffi.create_proxy(onClickHintDone))
      document.getElementById('oBtn').addEventListener('click', ffi.create_proxy(onClickOBtn))
      document.getElementById('xBtn').addEventListener('click', ffi.create_proxy(onClickXBtn))

      initialize()
    </py-script>
  </body>
</html>
