body {
  margin: 0;
  background: #FBFCF4;
}

.navbar {
  width: 100%;
  height: 65px;
}

.main {
  display: flex;
  width: 100%;
  height: calc(100% - 65px);
}

.box {
  margin: auto;
  padding: 50px 60px;
  width: calc(90% - 120px);
  height: 400px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
}

.header, .sub-header {
  display: flex;
}

.title, .sub-title {
  flex: 1;
  text-align: left;
}

.title, .step {
  color: #339535;
  font-size: 28px;
  font-weight: bold;
}

.sub-title {
  color: #339535;
  font-size: 22px; 
  font-weight: 500;
}

.point {
  color: #AC88EB;
  font-size: 20px;
  font-weight: bold;
}

.box-question {
  margin-top: 20px;
  padding: 30px 20px;
  background: rgb(218, 218, 218);
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
}

.question-content {
  margin-top: 10px;
}

.blank {
  display: inline-block;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  vertical-align: middle;
  border: 1px solid gray;
  background: #fff;
  border-radius: 5px;
}

.box-answer {
  display: flex;
  margin-top: 20px;
}

.box-answer input {
  flex: 1;
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
}

.btn-answer {
  margin-left: 15px;
  padding: 10px 25px;
  background: #339535;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.box-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.selection {
  display: flex;
  cursor: pointer;
  margin: 15px 0;
  text-align: left;
}

.selection:hover .no {
  background: #266e27;
}

.selection .no {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background: #339535;
  border-radius: 100%;
}

.selection .no div {
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.selection .content {
  flex: 1;
  padding: 10px 0;
  font-size: 22px;
}

.dialog {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.dialog-content {
  margin: auto;
  padding: 20px 15px;
  width: 50%;
  height: 50%;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.box-right, .box-wrong {
  display: none;
  margin-top: 15px;
  text-align:center;
  font-weight: bold;
  font-size: 40px;
}

.box-right {
  color: blue;
}

.box-wrong {
  color: red;
}

.box-commentary {
  padding: 5px 15px;
  font-size: 26px;
  text-align: center;
  word-break: keep-all;
}

.box-result-buttons {
  margin-top: 15px;
  text-align: center;
}

.btn-done-result {
  padding: 5px 25px;
  background: #339535;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
